*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #063231;
    width:100%;
    height:20vh;
    position: relative;
    z-index:2;
}
.topnav{
    position: relative;
    border-width: 20cm;
    border-color: aquamarine;
    background-color: #083a39;
    width:100%;
    height:7vh;
    z-index:1;
    
}
.options{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    width:15vw;
    margin-left: 32vw;
    


}
select{
    padding:0.3vw;
    background-color: #063231;
    color: rgb(207, 203, 203);
    border:none;

}
section{
    position: relative;
    background-color: blue;
    width:100%;
    height:80vh;
    background: linear-gradient(
        90deg,
        #eef6f5 0%,
        #f5fbfa 30%,
        #EAF6F6 100%
    );
    overflow:hidden;
}

.btn1{
    color:rgb(233, 228, 228);
   
    border-color: white;
    background-color:#063231;
    padding:0.5vw;
    border-radius:20px;
    margin-left:22vw;
}
.btn2{
    border:none;
    color:rgb(233, 228, 228);
    background-color: #E35729;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding:1vh 2vw;
    white-space: nowrap;
    text-align: center;
    border-radius: 20px;
    margin-left:1vw;
    
}
#arrow{
    padding:0.4vw;
}
.logo1{
    margin-left: 2.7vw;
    margin-top: 4.7vh;
    height:5vh;
    width:2vw;
    position:absolute;
}
h3{
    font-size: 20px;
    margin-top: 5vh;
    margin-left: 5vw ;
    position:absolute;
    color:white;
    font-family: 'segoe ui', sans-serif;
}
.logo2{
    margin-top: 4vh;
    margin-left:3vw;
    height:2vh;
    width:1.5vw;

}
.quto{
    font-size: 10px;
    top:3.7vh;
    position: absolute;
    margin-left: 5vw;
    color:rgb(221, 218, 218);
    font-family: 'segoe ui', sans-serif;
}
#email{
    
    margin-top:3.7vh;
    color: #A4C496;
    position: absolute;
    margin-left:18vw;
}
.gmail{
    font-size: 10px;
    top:4.3vh;
    position: absolute;
    margin-left: 24vw;
    color:rgb(221, 218, 218);
}
.logosftli{
    position: absolute;
    top:3.7vh;
    margin-left: 11.5vw;
}
.top-right-corner{
    top:2.5vh;
    margin-left:75vw;
}
.mainphoto{
    height: 80vh;
    width:40vw;
    position: absolute;
    margin-left: 6vw;
    top: 0vh;
}
.circle{  
    margin-left:89vw;
    background-color: #EAF6F6;
    border-radius:50%;
    height: 50vh;
    width:30vw;
    position: absolute;
    bottom: 50vh;
    z-index:3;

    
}
.circle2{
    background-color: #0f3f3e;
    margin-left: 81vw;
    height:80vh;
    width:50vw;
    position:absolute;
    border-radius: 50%;
    top:-198px;
    opacity: 0.1;
    
    
}
.maincontent{
    width:35vw;
    margin-left:48vw;
    margin-top: 10vh;
}
.grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding:15px;
    padding:10px;
    gap:5px;
    
}
.btnbelove{
    
    width:12vw;
    border-radius:20px;
    background-color:#063231;
    color:#eef6f5;
    padding:10px;
}